#check {
    display: none;
}

#menuIcon {
    position: absolute;
    margin-top: -50px;
    margin-left: -50%;
    cursor: pointer;
    padding: 15px;
    z-index: 1;
}

.menu {
    z-index: 1;
    background-color: rgba(19, 20, 21, 0.7);
    height: 100%;
    width: 200px;
    position: absolute;
    transition: all .2s linear;
    left: -200px;
}

h3{
    font-family: Arial;
}

nav {
    display: grid;
    width: 100%;
    position: absolute;
}

.caminho {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center 
}

.caminho {
    background-color: rgba(19, 20, 21, 0.8);
    text-decoration: none;
    color: white;
    transition: all .2s linear;
    height: 50px;
    border-bottom: 1px solid #141414;  
}

.caminho img{
    margin-right: 20px;
}

.caminho:hover {
    background-color: black;
    border-bottom: 2px solid #315BFE;    
}

#check:checked ~ .menu {
    transform: translateX(200px);
}