.Header {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

.searchBar {
  width: 40%;
}

.searchBar input {
  background-color: #fff;
  border-radius: 10px;
  border: 0;
  width: 70%;
  margin: 0 10px;
  color: #000;
}

.Logo {
  z-index: 1;
  /*margin: 20px;*/
  margin-top: .6vh;
  margin-left: 40%;
}

.Pesquisa {
  cursor: pointer;
  background-color: transparent;
  border: none;
}