@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.App {

  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  --background-item-color: #141414;
  padding-bottom: 20px;
}

.logoTitle {
  color: rgb(202, 5, 28);
}

.conteudo {
  margin:  30px 10%;
  min-width: 70%;
  align-items: center;
  background-color: var(--background-item-color);
}



.conteudo {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    list-style: none;
}

@media (max-width: 1024px){
  .conteudo {
    margin:  20px 10%;
    grid-template-columns: repeat(3, 3fr);
}

}
@media (max-width: 650px){
  .conteudo {
    margin: 5%;
    width: 90%;
    grid-template-columns: repeat(2, 3fr);
}
}


  
