.index {
    background-image: url('https://cdn.abcotvs.com/dip/images/6011023_031320-cc-ss-empty-theater-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}