.cardSerie {
    padding-top: 15px;
    color: rgb(255, 255, 255);
    max-width: 200px;
    min-width: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.posterImage {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    cursor: pointer;
    transition: all .3s;
}

.imageText {
    display: flex;
    width: 100%;
    /*padding-block-start: 90%;*/
    opacity: 0;
    transition: 0.5s;
    height: 100%;
    align-items: flex-end;
}

a {
    text-decoration: none;
}

.cardDetail {
    text-align: left;
    border-bottom: 1px solid #fff;
}

h3 {
  color: #fff;  
}

.posterImage:hover {
    transform: scale(1.1);
    opacity: 1;
}

.posterImage:hover .imageText {
    background-Image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
    text-shadow: black;
    opacity: 1;
}

.posterCardImage:hover {
    transform: scale(1.1);
    opacity: .8;
}

.posterCardImage:hover .imageText {
    text-shadow: black;
    opacity: 1;
}